page-backup-warning-modal {
    .popup-modal-header-img-warning {
        background-color: $v-background-warning;
        display: flex;
        justify-content: center;
        padding: 1.5rem;
        max-height: 10rem;
        img {
            max-height: 10rem;
        }
    }
    .popup-modal-content-warning {
        background-color: white;
        text-align: center;
        height: 65%;
        padding: 2rem;
        display: flex;
        align-items: center;
        .popup-modal-heading {
            font-weight: bold;
            font-size: 2rem;
            padding-bottom: 1rem;
        }
        .popup-modal-message {
            padding: 1.5rem;
            font-size: 1.6rem;
            color: #667;
        }
        .button-clear {
            padding-top: 1rem;
            background: none;
            color: $v-background-warning;
            font-size: 1.6rem;
        }
    }
}
